@model MobileRecharge.Models.RechargePlansModel

@{
    ViewData["Title"] = "Details";
}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    
    function payWithRazorpay() {
        console.log("In payment");
        var orderId = "order_LhzdnquXDyjKrb";
        var options = {
            "key": "",//set the api key
            "amount":"101",
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Buy Green Tea",
            "order_id": orderId,
            "image": "https://example.com/your_logo",
            "handler": function(response){
                alert(response.razorpay_payment_id);
            },
            "handler":function(error){
                alert(error);
            },
            "prefill": {
                "name": "Name",
                "email": "test@example.com",
                "contact": "+919000090000",
            },
            "callback_url": "https://localhost:7027/RechargeReportModels",
            "redirect": true,
            "notes": {
                "address": "Hello World"
            },
            "theme": {
                "color": "#3399cc"
            }
        }

        var rzp = new Razorpay(options);
        rzp.open();
    }
   

</script>

<h1>Details</h1>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <button id="rzp-button" value="Recharge" onclick="payWithRazorpay()">Pay</button>
    <form method="post">
        <input type="text" value="" name="PhoneNumber" placeholder="Enter your mobile number!"/>
        <input type="text" id="name" name="name" placeholder="Name" value="testname" hidden>
        <input type="text" id="email" name="email" placeholder="Email" value="testname1234554321@gmail.com" hidden>
        <input type="submit" value="Submit" />
    </form>
    <br/>
    <a asp-action="Index" class="btn btn-primary">Back to Plans</a>
</div>
