@model IEnumerable<MobileRecharge.Models.ContactModel>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Queries</h1>
<hr />

@if(ViewData["Role"] == null)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Raise a query</a>
    </p>
} 
@if (Model.Any())
{
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Message)</h5>
                            <p class="card-text">Date of Message: @Html.DisplayFor(modelItem => item.DateOfMessage)</p>
                            @if (!string.IsNullOrEmpty(item.Reply))
                            {
                                <p class="card-text">Reply: @Html.DisplayFor(modelItem => item.Reply)</p>
                            }
                            else
                            {
                                if (!(ViewData["Role"] != null && ViewData["Role"].Equals("Admin")))
                                {
                                    <p class="card-text"><i>...Waiting for reply...</i></p>
                                }
                                
                            }
                            @if (ViewData["Role"] != null && ViewData["Role"].Equals("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-primary">Reply or Edit Reply</a>

                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-primary">Edit</a>

                                <a asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <i>.....No Queries.....</i>
        </div>
    }

}
else
{
    <div class="text-center">
        <i>.....No Queries.....</i>
    </div>
}
